pyrogram
TgCrypto
aiohttp
python-dotenv
requests
Pyrogram
requests
wget
asyncio
datetime
aiofiles
aiohttp
opencc
telegraph
pytube
Python_ARQ
TgCrypto
bs4
telethon
Pillow
motor
dnspython
pymongo
umongo
psutil
NumPy
glitch_this
opencv-python-headless
pytz
pykeyboard
Python_ARQ
yt_dlp
